$CW: 300px;
$BW: 300px;
$TH: 65px;
$M: 10px;

$TB: 2;

%wrap {
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./fonts/NotoSans.ttf");
}

body, button {
    background-color: #fff6a9;
    margin: 0;
    overflow: hidden;
    font-family: "Noto Sans" !important;
}

button {
    cursor: pointer;
}

h1 {
    margin: 0;
}

.canvas-wrapper {
    @extend %wrap;

    position: absolute;
    width: $CW;
    left: 0;
    top: 0;

    >canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .header {
        text-align: center;
        width: 100%;
        position: absolute;
        user-select: none;
        z-index: 1;

        .coins-header {
            width: 100%;
            line-height: 0;
            margin-top: 5px;

            div {
                display: inline-block;
                vertical-align: middle;
            }

            span {
                margin-left: -4px;
                line-height: 0.65;

                span {
                    font-size: 25px;
                }
            }
        }

        .cpc-header, .cps-header {
            width: 100%;
            
            
            &.cpc-header {
                margin-top: 6.5px;
            }
            &.cps-header {
                margin-top: -20px;
            }

            div {
                display: inline-block;
                vertical-align: middle;
                line-height: 100%;
            }

            span {
                margin-left: -4px;
            }
        }
    }
}

.middle-wrapper {
    @extend %wrap;
    
    width: calc(100vw - $CW - $BW);
    left: $CW;

    .tab-wrapper {
        width: 100%;
        height: $TH;
        background-color: #eec43c;
        position: absolute;
        top: 0;

        >div {
            width: calc(100% - $M);
            height: calc(100% - $M);
            margin-left: calc($M / 2);
            margin-top: calc($M / 2);
            display: flex;

            button {
                height: 100%;
                padding: 0;
                width: calc(100% / $TB);
                height: calc(100% - 8px);
                border: 3px solid rgba(0,0,0,0.3);
                background-color: #fcdb4a;
                border-radius: 5px;
                margin: 4px;
                transition-duration: 0.5s;

                &.selected {
                    background-color: #967a00;
                    color: white;
                }
            }
        }
    }

    .work-wrapper {
        width: 100%;
        height: calc(100% - $TH);
        background-color: #ffe790;
        position: absolute;
        top: $TH;
        overflow-y: auto;
    }

    .stats-wrapper {
        margin-left: 15px;
        line-height: 15px;

        [stat] {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.buildings-wrapper {
    @extend %wrap;
    
    width: $BW;
    height: 100%;

    right: 0;
    overflow-y: scroll;

    span {
        background-color: rgba(0,0,0,0.2);
        margin: 6px;
        margin-bottom: 8px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
        z-index: 999;
    }

    .buildings {
        height: 100%;
        width: 100%;

        >button {
            width: 100%;
            border: 0;
            padding: 0;
            
            >div {
                height: 75px;
                background-color: rgb(255, 236, 151);
                transition-duration: 0.4s;

                &[afford="false"] {
                    background-color: rgb(43, 35, 0);
                    color: white;

                    h1 {
                        color: rgba(255, 255, 255, 0.4);
                    }
                }

                border: 4px solid #ffde71;
                line-height: 0;

                h2 {
                    position: absolute;
                    right: 15px;
                }

                >div {
                    position: absolute;
                    right: 10px;
                    margin-top: 40px;
                    font-size: 17px;
                    font-weight: bold;
                    white-space: nowrap;
                    z-index: 1;

                    img {
                        margin-bottom: -4px;
                    }
                }

                h1 {
                    font-size: 75px;
                    position: absolute;
                    right: 30px;
                    margin-top: 34px;
                    color: rgba(0, 0, 0, 0.4);
                    user-select: none;
                }

                img.big {
                    margin-top: 5.5px;
                    margin-right: calc($BW - 102.5px);
                    transition-duration: 0.825s;
                    filter: brightness(-100%);
                    opacity: 0.4;

                    &.unlock {
                        filter: none;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .upgrades {
        button {
            border: 0;
            padding: 0;
            div {
                border: 2px solid rgba(0, 0, 0, 0.2);
                margin: 2px;
            }
            
            &[afford="true"] {
                background-color: #ffde71;
                div {
                    border: 3px solid rgba(0, 0, 0, 0.45);
                }
            }
        }
    }
}

.icon {
    background-color: transparent;
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
}

.building-tooltip {
    right: $BW;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 15px;
    position: absolute;
    color: white;
    padding: 10px;
    display: block;
    h2 {
        margin: 0;
        float: right;
    }
    img {
        position: absolute;
    }
    br {
        line-height: 50px;
    }
    p {
        line-height: 17.5px;
        width: 225px;
    }
}

.upgrade-tooltip {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 15px;
    position: absolute;
    color: white;
    padding: 10px;
    display: block;
    h2 {
        font-size: 18px;
        margin: 0;
        float: right;
    }
    div.nameIn {
        width: calc(100% - 48px);
        float: right
    }
    img {
        position: absolute;
    }
    br {
        line-height: 50px;
    }
    p {
        line-height: 17.5px;
        width: 225px;
        margin: 2px 0;
    }
    span {
        margin-left: 22.5px;
        font-size: 18px;
        &.afford {
            color: #bbffbb;
        }
        &.noafford {
            color: #ffbbbb;
        }
    }
}

.buy-bar {
    width: 100%;
    height: 25px;
    background-color: #444;
    margin-bottom: 15px;
    button {
        width: 32%;
        height: 20px;
        background-color: #555;
        margin: 0;
        padding: 0;
        border: none;
        display: inline;
        transition: ease-in 0.35s;
        font-weight: bold;
        &.selected {
            background-color: #ababab;
        }
        &[value="10"] {
            color: #040;
        }
        &[value="100"] {
            color: #044;
        }
    }
}

.achievements {
    position: absolute;
    width: 325px;
    max-height: 100vh;
    bottom: 0;
    
    left: 50%;
    transform: translate(-50%, 0%);

    >div {
        position: absolute;
        bottom: 0;

        >div {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.55);
            border-radius: 20px;
            border: 4px solid rgba(0, 0, 0, 0.7);
            z-index: 100;
            position: relative;

            div.imgdiv {
                width: 32px;
                height: 32px;
                margin-left: 10px;
                margin-top: 10px;
                position: absolute;
                outline: 4px solid rgba(255, 255, 255, 0.815);
            }

            div.titlediv {
                width: calc(100% - 32px - 20px);
                color: white;
                height: 48px;
                margin-top: 5px;
                font-size: 10px;
                line-height: 20px;
                position: absolute;
                margin-left: 54px;
                h1 {
                    margin: 0;
                    word-wrap: break-word;
                }
            }

            div.adiv {
                font-size: 18px;
                line-height: 17.5px;
                color: white;
                margin-top: 60px;
                margin-left: 10px;

                >div {
                    width: 100%;
                    height: -2px;
                }
            }

            button {
                background-color: transparent;
                position: absolute;
                font-size: 25px;
                font-weight: bolder;
                color: rgb(0, 0, 0);
                margin-left: -5px;
                margin-top: calc(var(--up) * -1px - 10px);
                border: 0;
                text-shadow: 0 0 10px white;
            }
        }
    }
}

achievements div.imgdiv {
    width: 64px;
    height: 64px;
    border: 4px solid rgba(0, 0, 0, 0.815);
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.achievement-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;

    >div {
        width: 325px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        border: 4px solid rgba(0, 0, 0, 0.75);

        div.imgdiv {
            width: 32px;
            height: 32px;
            margin-left: 10px;
            margin-top: 10px;
            position: absolute;
            outline: 4px solid rgba(255, 255, 255, 0.815);
        }

        div.titlediv {
            width: calc(100% - 32px - 16px);
            color: white;
            height: 48px;
            margin-top: 5px;
            font-size: 10px;
            line-height: 20px;
            position: absolute;
            margin-left: 54px;
            h1 {
                margin: 0;
                word-wrap: break-word;
            }
        }

        div.adiv {
            font-size: 18px;
            line-height: 17.5px;
            color: white;
            margin-top: 60px;
            margin-left: 10px;

            >div {
                width: 100%;
                height: -2px;
            }
        }

        button {
            background-color: transparent;
            position: absolute;
            font-size: 25px;
            font-weight: bolder;
            color: rgb(0, 0, 0);
            margin-left: -5px;
            margin-top: -118.5px;
            border: 0;
            text-shadow: 0 0 10px white;
        }
    }
}

::-webkit-scrollbar {
    background-color: #ffe896;
    border: 2px #fff5d4 solid;
}
::-webkit-scrollbar-thumb {
    background-color: #fff5d4;
    border: 2px black solid;
}